
#ablak {
    position: relative;
    width: 350px;
    background: beige;
    padding: 10px;
    border-radius: 15px;
}
form fieldset {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 50px 50px;
}
label {
    text-align: right;
}

.bezar {
    position: absolute;
    right: 1px;
    color:black;
    padding: 15px;
    font-size: 20px;
    cursor: grab;
}
article{
    margin: auto;
    width: 800px;
}
.kicsik{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border-radius: 10px;
    grid-gap: 10px;
}
.kicsik img{
    border-radius: 10px;
    width: 100%;
}
.kicsiKep{
    width: 50px;
}
.nagykep{
    border-radius: 10px;
    width: 100%;
}
.nagy{
    padding-top: 15px;
    width: 100%;
}
