
#ablak {
    position: absolute;
    top: 450px;
    left: 450px;
    z-index: 1;
    position: relative;
    width: 350px;
    background: beige;
    padding: 10px;
    border-radius: 15px;
}
form fieldset {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 50px 50px;
}
label {
    text-align: right;
}

.bezar {
    position: absolute;
    right: 10px;
    color:black;
    padding: 15px;
    font-size: 20px;
    cursor: grab;
}
article{
    margin: auto;
    width: 800px;
    position: relative;
}
.keret{
    width: 100%;
    background-color: rgba(223, 253, 243, 0.788);
    border-radius: 10px;
    padding: 10px;
}
.kicsik{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.kicsiKep{
    width: 100%px;
}
.kicsiKep img{
    width: 100%;
    border-radius: 10px;
}
.nagykep{
    border-radius: 10px;
    width: 100%;
}
.nagy{
    padding-top: 15px;
    width: 100%;
}

