#ablak {
    position: relative;
    width: 350px;
    background: beige;
    padding: 10px;
    border-radius: 15px;
}
form fieldset {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 50px 50px;
}
label {
    text-align: right;
}

.bezar {
    position: absolute;
    right: 1px;
    color:black;
    padding: 15px;
    font-size: 20px;
    cursor: grab;
}
